*.class

# Package Files #
*.war
*.ear
*.classpath
/BukkitFileManager/nbproject/private/
/TestPlugin/nbproject/private/
/TestPlugin/dist/
/TestPlugin/build/
/BukkitFileManager/build/
/BukkitFileManager/dist/
/BankPlugin/nbproject/private/
/BankPlugin/dist/
/BankPlugin/build/
/BukkitWrittenBooks/nbproject/private/
/BukkitWrittenBooks/build/
/BukkitWrittenBooks/dist/
/MarketPlugin/nbproject/private/
/MarketPlugin/dist/
/MarketPlugin/build/